<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead">
	<div class="inner right">
	  <nav>
	    <ul class="nav masthead-nav">
	      <li><%= link_to 'information', info_path %></li>
	    </ul>
	  </nav>
	</div>
      </div>

      
      <div class="inner cover">
		    
	<%= image_tag 'logo/bedstuyle-logo_white_trans.png', class: 'cover-logo' %>
	<br><br>
	<p class="lead">CULTURE, ART, FOOD AND STYLE IN BEDFORD-STUYVESANT</p>
	
      </div>

      <div class="mastfoot">
	<div class="inner">
	  <span class="coming-soon-text">COMING SOON</span>
	  <p>Bedstuyle 2015</p>
	</div>
      </div>

    </div>

  </div>

</div>
