<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead">
	<div class="inner">
	  <%= image_tag 'logo/bedstuyle-logo_white_trans.png', class: 'header-logo' %>
	</div>
      </div>

      
      <div class="inner cover">
	<div class="about-section">
	  <h2>We're glad you love Bedstuy too.</h2><br>
	  
	  <a class="lead" href="https://docs.google.com/forms/d/1-vptCVoZzIiFdzIGwr1BM-fFhfjE8g_2TEvBI4TE_d8/viewform?embedded=true">Sign Up</a>
	</div>
      </div>

      <div class="mastfoot">
	<div class="inner">
	  <p>&copy; 2015 Bedstuyle</p>
	</div>
      </div>

    </div>

  </div>

</div>
